@import url('https://fonts.googleapis.com/css2?family=Anton&family=News+Cycle:wght@400;700&family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --base-clr: #feffff;
  --text-clr: #222629;
}

.darkmode {
  --base-clr: #222629;
  --text-clr: #feffff;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--base-clr);
  color: var(--text-clr);
  font-family: "News Cycle", sans-serif;
}
