@import url("https://fonts.googleapis.com/css2?family=Anton&family=News+Cycle:wght@400;700&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .quill-editor img {
    @apply max-w-full h-auto w-80 block;
  }
}

:root {
  --base-clr: #fafaf8;
  --text-clr: #23282d;
}

.darkmode {
  --base-clr: #23282d;
  --text-clr: #fafaf8;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--base-clr);
  color: var(--text-clr);
  font-family: "News Cycle", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.ql-container {
  border: none !important;
}

.ql-toolbar {
  border: none !important;
}

.ql-editor {
  border: none !important;
}
